@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #080714;
}
.container{
    width:450px;
    /* height: 600px; */
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
}
.container p{
    font-weight: 600;
    font-size: 18px;
    margin-bottom:8px ;
}
.container input{
    width:100%;
    height:45px;
    border: 1px solid #2b2b2b;     
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 4px;
}
.container button{
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}
#imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#imageBox img{
    width: 100%;
    padding: 9px;
}